<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name ="barista_robot">

<xacro:macro name="wheel" params="wheel_name">

        <xacro:property name="wheel_radius" value="0.0352"/>
        <xacro:property name="wheel_width" value="0.0206"/>

        <link name="${wheel_name}">
            <visual>
                <origin rpy="1.5707 0 0" xyz="0 0 0"/>
                <geometry>
                    <cylinder length="${wheel_width}" radius="${wheel_radius}"/>
                </geometry>
            </visual>
            <collision>
                <origin rpy="1.5707 0 0" xyz="0 0 0"/>
                <geometry>
                    <cylinder length="${wheel_width}" radius="${wheel_radius}"/>
                </geometry>
            </collision>
            <inertial>
                <mass value="1"/>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia ixx="0.000345" ixy="0" ixz="0" iyy="0.00062" iyz="0" izz="0.000345"/>
            </inertial>
        </link>

        <gazebo reference="${wheel_name}">
            <mu1>10</mu1>
            <mu2>10</mu2>
        </gazebo>

</xacro:macro>
</robot>
